/* CSS의 주석은 html과 다름. 
	style 태그안에서 개발자는 원하는 디자인 코드를 작성할 수 있다.
	위에서 내리는 명령보다 인라인 방식이 최우선 순위를 가진다.
	위에서 명령을 내리려면 인라인 방식을 지워야 함.
*/
button {
	background:purple; /*배경색*/
	font-size:30px; /*폰트크기*/
	color:white; /*폰트색상*/
}

/*CSS에서 아이디를 접근할 때는 #을 이용한다*/
#bt3{
	background:red;
}
